.App {
	min-height: 100vh;
}

.signin {
	min-height: 100vh;
	min-width: 100%;
	justify-content: center;
}

.signup {
	min-height: 100vh;
}
.signup .input-fields {
	min-height: 60vh;
	margin-top: 2rem;
}
.signup .input-fields .input-control {
	margin: 0.5rem 0;
}

.signup .input-fields .btn {
	font-size: 1.2rem;
	height: 100%;
}
.signup .input-fields .input-control .btn {
	width: 100%;
	font-size: 1rem;
}
.signup .input-fields .input-control .btn-primary {
	cursor: pointer;
	background-color: #177ddc;
	color: #fff;
}
.signup .input-fields .input-control .input-field {
	padding: 0.5rem 1rem;
}
