.App {
	min-height: 100vh;
}

.signin {
	min-height: 100vh;
	min-width: 100%;
	justify-content: center;
}

.signup {
	min-height: 100vh;
}

.signup .input-fields {
	min-height: 60vh;
	margin-top: 2rem;
}
.signup .input-fields .links {
	text-align: right;
	width: max-content;
	margin: 1rem auto;
}
.signup .input-fields .input-control {
	margin: 0.5rem 0;
}

.signup .input-fields .btn {
	font-size: 1.2rem;
	height: 100%;
}
.signup .input-fields .input-control .btn {
	width: 100%;
	font-size: 1rem;
}
.signup .input-fields .input-control .btn-primary {
	cursor: pointer;
	background-color: #177ddc;
	color: #fff;
}
.signup .input-fields .input-control .input-field {
	padding: 0.5rem 1rem;
}

/* dashboard */

.dashboard.ant-layout {
	min-height: 100vh;
}

.dashboard .header {
	background: #177ddc;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dashboard .sidenav {
	display: flex;
	flex-direction: column;
	/* padding: 1rem; */
	margin: 1rem 0;
}
.dashboard .head {
	color: #fff;
	font-size: 1.5rem;
	flex: 1;
}
.dashboard .sidenav .navlink {
	padding: 0.25rem 1rem;
	font-size: 1rem;
	margin: 0.25rem 0;
	color: #000;
	/* background: rgba(23, 125, 220, 20%);
	border-right: 3px solid #177ddc; */
}
.dashboard .sidenav .navlink .icon {
	margin-right: 1rem;
}
.dashboard .content {
	padding: 1rem;
}
